<?xml version="1.0"?>
<configuration>
<configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
        <section name="ElectricEel.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        <section name="won600.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
</configSections>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0,Profile=Client"/></startup><userSettings>
        <ElectricEel.Properties.Settings>
            <setting name="Version" serializeAs="String">
                <value/>
            </setting>
            <setting name="X" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Y" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="UnitCount" serializeAs="String">
                <value>0</value>
            </setting>
        </ElectricEel.Properties.Settings>
    </userSettings>
</configuration>
